:host {
  display: block;
}
form {
  display: grid;
  gap: 5px;
  grid-auto-rows: auto;
  mat-form-field:last-child {
    grid-column: 1/-1;
  }
}
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}
textarea {
  resize: none;
}
