@use "@angular/material" as mat;
@include mat.core();
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
      tertiary: mat.$spring-green-palette,
    ),
  )
);
html {
  @include mat.all-component-themes($theme);
}
.tertiary-button {
  @include mat.button-color($theme, $color-variant: tertiary);
}
.error-button {
  @include mat.button-color($theme, $color-variant: error);
}
