:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}
.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}
.add-item {
  margin-left: auto;
}
