:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.add-item {
  margin-left: auto;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
.element-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 0 16px 16px 0;
}
